@font-face {
  font-family: 'font';
  src: url('fonts/BitcountGridSingleInk-VariableFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
    background-color: rgba(0, 92, 168, 0.208);
}

header p{
    font-family: 'Imperial Script', sans-serif;
}

header img {
    border-radius: 60%;
}

h1{
    font-family: 'Imperial Script', sans-serif;
    font-size: 80px;
    justify-self: center;
    color: #1a3d6c;
}

body {
  font-family: 'Alan Sans', sans-serif;
  background-color: rgb(100, 132, 166);
}

nav ul{
    display: flex;
    gap: 20px; 
    justify-content: center;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    display: inline-block;
}

nav ul li a:link {
    color: #337ddd;
}

nav ul li a:visited {
    color: #1a3d6c;
}

nav ul li a:hover {
    text-decoration: none;
    transform: scale(1.2);
}

#contact_information{
    display: flex;
    justify-content: center;
}

#contact_information a{
    text-decoration: none;
}

#contact_information a:visited {
    color: #337ddd;
}

#contact_information a:visited {
    color: #1a3d6c;
}

#about_me {
    padding: 50px 20px;
    text-align: center;
    background-color: rgba(0, 92, 168, 0.208);
}

#about_me h2 {
    font-family: 'Imperial Script', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 25px;
    color: #1a3d6c;
}

#about_me p {
    font-family: 'Alan Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 2.0;
    max-width: 800px;
    margin: 0 auto;
    color: #333;
}

#skills {
    padding: 50px 20px;
    text-align: center;
}

#skills h2 {
    font-family: 'Imperial Script', cursive;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #1a3d6c;
}

#skills figure {
    display: inline-block;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s;
    cursor: default;
}

#skills figure img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

#skills figure h3 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #333;
}

#skills figure:hover {
    transform: scale(1.3);
}

#skillP img {border: 2px solid #306998;}
#skillE img {border: 2px solid #217346;}
#skillJ img {border: 2px solid #f89820;}
#skillD img {border: 2px solid #8a2be2;}
#skillH img {border: 2px solid #940000;}
#skillS img {border: 2px solid #a9ceff;}

@media (max-width: 600px) {
    #skills figure {
        display: block;
        margin: 15px auto;
    }

    #skills figure img {
        width: 80px;
        height: 80px;
    }

    #skills h2 {
        font-size: 2rem;
    }

    #skills figure h3 {
        font-size: 1rem;
    }
}