@font-face {
  font-family: 'font';
  src: url('fonts/BitcountGridSingleInk-VariableFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Bitcount Grid Single Ink', sans-serif;
}

h1 {
  font-family: 'Imperial Script', cursive;
}